# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
../.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE files
../.idea/
.vscode/

# Logs and runtime files
*.log
*.tmp

# Houdini junk
*.hip
*.hiplc
*.hipnc
*.autosave
usd_scene_init/hou_scenes

# USD caches
*.usd
*.usda
*.usdc

# Data/output folders
/output/
cache/

# Python-specific
*.egg-info/
dist/
build/
*.egg

# Jupyter or notebook checkpoints
.ipynb_checkpoints/

# Mac ._ metadata
._*

# Test scene outputs
scene_template*.usda
